<div class="container m-5" *ngIf="addEmail; else SetPasswordT">
  <h2>Crear contraseña</h2>
  <p>
    Por favor digita el correo electrónico con el que te registraste o
    registraron y sigue los pasos.
  </p>
  <p>
    <mat-form-field class="w-100">
      <mat-label>Correo electrónico</mat-label>
      <input matInput type="email" #emailField />
    </mat-form-field>
  </p>
  <button
    mat-raised-button
    color="primary"
    (click)="addEmail = false; email = emailField.value"
  >
    Enviar
  </button>
</div>
<ng-template #SetPasswordT>
  <div class="container m-5">
    <h2>Crear contraseña</h2>
    <p>
      Por favor digita el correo electrónico con el que te registraste o
      registraron y sigue los pasos.
    </p>
    <p>
      <mat-form-field class="w-100">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" #password />
      </mat-form-field>
    </p>
    <button
      mat-raised-button
      (click)="addEmail = true"
    >
      Volver
    </button>
    &nbsp;
    <button
      mat-raised-button
      color="primary"
      (click)="setPassword($event, email, password.value)"
    >
      Crear
    </button>
  </div>
</ng-template>
